<nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
    <div class="sidebar-sticky pt-3">
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/home']" [routerLinkActive]="['active']">
            <span class="fas fa-home icon-menu"></span>
            Inicio
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/hola']" [routerLinkActive]="['active']">
            <span class="fas fa-tag icon-menu"></span>
            Hola Mundo
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/persona']" [routerLinkActive]="['active']">
            <span class="fas fa-shopping-cart icon-menu"></span>
            Propiedades
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/curso']" [routerLinkActive]="['active']">
            <span class="fas fa-users icon-menu"></span>
            Directivas
          </a>
        </li>
        <li class="nav-item" >
          <a class="nav-link" [routerLink]="['/estilo']" [routerLinkActive]="['active']">
            <span class="fas fa-chart-bar icon-menu"></span>
            Directivas con estilos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/parametros','Juan']" [routerLinkActive]="['active']">
            <span class="fas fa-layer-group icon-menu"></span>
            Parametros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/producto']" [routerLinkActive]="['active']">
            <span class="fas fa-layer-group icon-menu"></span>
            Productos
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/filtros']" [routerLinkActive]="['active']">
            <span class="fas fa-layer-group icon-menu"></span>
            Filtros
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/coche']" [routerLinkActive]="['active']">
            <span class="fas fa-layer-group icon-menu"></span>
            Coches
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/posts']" [routerLinkActive]="['active']">
            <span class="fas fa-layer-group icon-menu"></span>
            Posts
          </a>
        </li>
      </ul>

 
    </div>
  </nav>