<h4>{{ title }}</h4>
<form #formCoche="ngForm" (ngsubmit)="onSubmit(); ">
    <div class="form-group">
        <label >Marca:</label>
        <input type="text" name="marca" #marca="ngModel" [(ngModel)]="coche.marca" class="form-control"
        minilength="3" required>
        <div *ngIf="marca.invalid && (marca.dirty || marca.touched)">
            <div *ngIf="marca.errors.required">
                Marca es requerido.
            </div>
            <div *ngIf="marca.errors.minlength">
                Marca debe tener al menos 3 caracteres.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label >Precio:</label>
        <input type="text" name="precio" #precio="ngModel" [(ngModel)]="coche.precio" class="form-control"
        pattern="[0-9.]+" required>
        <div *ngIf="precio.invalid && (precio.dirty || precio.touched)">
            <div *ngIf="precio.errors.required">
                Precio es requerido.
            </div>
            <div *ngIf="precio.errors.pattern">
                Precio no es valido.
            </div>
        </div>
    </div>
    <div class="form-group">
        <label >Color:</label>
        <input type="text" name="color" #color="ngModel" [(ngModel)]="coche.color" class="form-control"
        pattern="[#a-fA-F 0-9]+" required>
        <div *ngIf="color.invalid && (color.dirty || color.touched)">
            <div *ngIf="color.errors.required">
                Color es requerido.
            </div>
            <div *ngIf="color.errors.pattern">
                Color no es valido.
            </div>
        </div>
    </div>
    <!--button type="submit" class="btn btn-primary">Guardar</button-->
    <input type="submit" (click)="onSubmit()" class="btn btn-primary" value="Guardar"
    [disabled]='!formCoche.form.valid'/>
</form>

<h4>LISTADO DE COCHES</h4>
<table class="table">
    <thead>
        <tr>
            <th>MARCA</th>
            <th>PRECIO</th>
            <th>COLOR</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let coche of coches">
            <td>{{ coche.marca }}</td>
            <td>{{ coche.precio }}</td>
            <td>{{ coche.color }}</td>
        </tr>
    </tbody>
</table>