<h4>{{ title }}</h4>
<div class="input-group">
    <input type="text" class="form-control" placeholder="Nombre de nuevo producto"
    [(ngModel)]="nombreProducto">
    <div class="input-group-append">
        <button (click)="guardarProducto()" class="btn btn-primary" >Adicionar producto</button>
    </div>
</div>
<p *ngIf="nombreProducto">
    El producto a guardar es <strong>{{ nombreProducto }}</strong>.
</p>
<ul>
    <li *ngFor="let prod of listarProductos; let i=index">
        {{ prod }}
        <button (click)="eliminarProducto(i)">Eliminar</button>
    </li>

</ul>
