<h4>DIRECTIVA NGSWITCH</h4>
<div [ngSwitch]="color">
    <p *ngSwitchCase="'red'" [ngStyle]="{ 'background': color, 'color': 'white'  }" > Rojo - {{ color }}</p>
    <p *ngSwitchCase="'yellow'" [ngStyle]="{ 'background': color, 'color': 'black' }"> Amarillo - {{ color }}</p>
    <p *ngSwitchCase="'green'" [ngStyle]="{ 'background': color, 'color': 'white' }"> Verde - {{ color }}</p>
</div>

<button (click)="cambiarColor('red')" >
    Rojo
</button>
<button (click)="cambiarColor('yellow')" >
    Amarillo
</button>
<button (click)="cambiarColor('green')" >
    Verde
</button>
<div    [style.border]="color=='red'?'5px solid red':'5px dotted blue'" [class.fondoRojo]="color=='red'" 
        [class.fondoRojo]="color=='red'"
        [ngClass]="{
        fondoAmarrillo: color=='yellow',
        fondoVerde: color=='green'
}"        
>
        Color seleccionado {{ color }}
</div>
