<h3> {{ title }} </h3>
<button type="button" (click)="cambiarEstado(false)" >
    Ocultar Datos
</button>
<button type="button" (click)="cambiarEstado(true)" >
    Mostrar Datos
</button>

<div *ngIf="mostrarProf">
    <h4> Datos del profesor </h4>
    <p> Nombre: {{ prof.nombre }} </p>
    <p> Sueldo: {{ prof.sueldo }} </p>
    <p> Contratado: {{ prof.contrato }} </p>

    <p *ngIf = "prof.contrato">El profesor esta contratado</p>
    <p *ngIf = "!prof.contrato">El profesor no tiene contrato</p>
</div>

<h4>LISTA DE ESTUDIANTES</h4>

<table border="1">
    <tr>
        <th>INDICE</th>
        <th>NOMBRE</th>
        <th>EDAD</th>
        <th>NOTA</th>
    </tr> 
    <tr *ngFor="let est of estudiantes; let i=index">
        <td>{{ i }}</td>
        <td>{{ est.nombre }}</td>
        <td>{{ est.edad }}</td>
        <td>{{ est.nota }}</td>
    </tr>
</table>